---
import { SEO } from 'astro-seo'
import { getLangFromUrl } from '../i18n/utils'

interface Props {
  title: string
}

const { title } = Astro.props
const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
  <head>
    <SEO
      title={title}
      description="Astro description"
      charset="UTF-8"
      extend={{
        link: [{ rel: 'icon', type: 'image/svg+xml', href: '/favicon.svg' }],
        meta: [
          { name: 'viewport', content: 'width=device-width' },
          { name: 'generator', content: Astro.generator }
        ]
      }}
    />

    <script
      type="text/partytown"
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
